// IMPORTS
@import './utils';
@import './lib';

html {
	font-size: 16px;
}
body {
	background-color: var(--bg-color-1);
}
* {
	color: var(--text-color-1);
	background-color: transparent;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	user-select: none;
	text-decoration: none;
	transition: none;
	-webkit-tap-highlight-color: transparent;
}
