:global(.tooltip) {
	--tooltip-font-family: 'Poppins', sans-serif;
	--tooltip-color: var(--text-color-1);
	--tooltip-background-color: var(--bg-color-3);
	--tooltip-box-shadow: 0 0 2px var(--bg-color-1);
	--tooltip-padding: 8px 12px;
	--tooltip-font-size: 0.8rem;
	--tooltip-font-weight: normal;
	--tooltip-arrow-size: 5px;
}
.ti {
	font-size: 27.5px;
}
