@mixin border($size: 1px) {
	border: $size solid var(--border-color);
}
@mixin border-left($size: 1px) {
	border-left: $size solid var(--border-color);
}
@mixin border-right($size: 1px) {
	border-right: $size solid var(--border-color);
}
@mixin border-top($size: 1px) {
	border-top: $size solid var(--border-color);
}
@mixin border-bottom($size: 1px) {
	border-bottom: $size solid var(--border-color);
}
