// VARIABLES
$bg-sm: 640px;
$bg-md: 768px;
$bg-lg: 1024px;
$bg-xl: 1280px;
$bg-2xl: 1536px;
$-bg-sm: 639px;
$-bg-md: 767px;
$-bg-lg: 1023px;
$-bg-xl: 1279px;
$-bg-2xl: 1535px;
// MIXINS
@mixin xs-only-screen {
	@media screen and (max-width: $bg-sm) {
		@content;
	}
}
@mixin sm-only-screen {
	@media screen and (min-width: $bg-sm) and (max-width: $-bg-md) {
		@content;
	}
}
@mixin md-only-screen {
	@media screen and (min-width: $bg-md) and (max-width: $-bg-lg) {
		@content;
	}
}
@mixin lg-only-screen {
	@media screen and (min-width: $bg-lg) and (max-width: $-bg-xl) {
		@content;
	}
}
@mixin xl-only-screen {
	@media screen and (min-width: $bg-xl) and (max-width: $-bg-2xl) {
		@content;
	}
}
@mixin sm-down-screen {
	@media screen and (max-width: $-bg-sm) {
		@content;
	}
}
@mixin md-down-screen {
	@media screen and (max-width: $-bg-md) {
		@content;
	}
}
@mixin lg-down-screen {
	@media screen and (max-width: $-bg-lg) {
		@content;
	}
}
@mixin xl-down-screen {
	@media screen and (max-width: $-bg-xl) {
		@content;
	}
}
@mixin sm-up-screen {
	@media screen and (min-width: $bg-md) {
		@content;
	}
}
@mixin md-up-screen {
	@media screen and (min-width: $bg-lg) {
		@content;
	}
}
@mixin lg-up-screen {
	@media screen and (min-width: $bg-xl) {
		@content;
	}
}
@mixin xl-up-screen {
	@media screen and (min-width: $bg-2xl) {
		@content;
	}
}
