@mixin p($spacing) {
	padding: spacing($spacing);
}
@mixin pl($spacing) {
	padding-left: spacing($spacing);
}
@mixin pr($spacing) {
	padding-right: spacing($spacing);
}
@mixin pt($spacing) {
	padding-top: spacing($spacing);
}
@mixin pb($spacing) {
	padding-bottom: spacing($spacing);
}
@mixin px($spacing) {
	padding-left: spacing($spacing);
	padding-right: spacing($spacing);
}
@mixin py($spacing) {
	padding-top: spacing($spacing);
	padding-bottom: spacing($spacing);
}
@mixin m($spacing) {
	margin: spacing($spacing);
}
@mixin ml($spacing) {
	margin-left: spacing($spacing);
}
@mixin mr($spacing) {
	margin-right: spacing($spacing);
}
@mixin mt($spacing) {
	margin-top: spacing($spacing);
}
@mixin mb($spacing) {
	margin-bottom: spacing($spacing);
}
@mixin mx($spacing) {
	margin-left: spacing($spacing);
	margin-right: spacing($spacing);
}
@mixin my($spacing) {
	margin-top: spacing($spacing);
	margin-bottom: spacing($spacing);
}
